@font-face {
  font-family: 'avalonbold';
  src: url('../fonts/avalon_bold-webfont.woff2') format('woff2'),
  url('../fonts/avalon_bold-webfont.woff') format('woff'),
  url('../fonts/avalon_bold-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansregular';
  src: url('../fonts/worksans-regular-webfont.woff2') format('woff2'),
  url('../fonts/worksans-regular-webfont.woff') format('woff'),
  url('../fonts/worksans-regular-webfont.ttf') format('ttf'),
  url('../fonts/worksans-regular-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'work_sansmedium';
  src: url('../fonts/worksans-medium-webfont.woff2') format('woff2'),
  url('../fonts/worksans-medium-webfont.woff') format('woff'),
  url('../fonts/worksans-medium-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;

}
