@import "fonts";
@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint";

$black: #191919;
$sun-yellow: #fedd23;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clear {
  height: 0 !important;
  clear: both;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 245px;
  height: 95px;
  margin: 52px auto 0 auto;

  &_img {
    width: 100%;
    height: auto;
  }
}

.main-title {
  margin: 61px auto 0 auto;
  font: 59px avalonbold;
  text-align: center;
  color: #191919;
  letter-spacing: 0.8px;
  span {
    color: $sun-yellow;
  }
}

.subtitle {
  color: #191919;
  font: 24px work_sansregular;
  text-align: center;
  max-width: 770px;
  width: 100%;
  margin: 40px auto 0 auto;
  line-height: 43px;
  @include breakpoint(320px 1000px) {
    font-size: 19px;
  }
}

.form {
  @include clearfix;
  @include breakpoint(320px 576px) {
    margin: 0 auto;
  }
  margin: 140px auto 0 auto;
  padding-top: 75px;
  max-width: 947px;
  width: 100%;
}

.form {
  &__input {
    width: 99%;
    height: 45px;
    margin: 22px 0 30px 0;
    border: 1px solid #dcdcdc;

    &--cv {
      top: -46px;
      left: 78%;
      width: 48px;
      height: 8px;
      opacity: 0;
      overflow: hidden;
      position: relative;
      z-index: -1;
      max-width: 80%;
      font-size: 1.25rem;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      padding: 0.625rem 1.25rem;
      margin: 0;
    }
  }
  &__label {
    width: 100%;
    font: 14px work_sansmedium;
    color: #4e4e4e;
    text-transform: uppercase;
    display: inline-block;
    :first-child {
      position: relative;
      top: -42px;
    }
    :nth-child(2) {
      display: block;
      width: 19%;
      height: 47%;
      font: 14px work_sansregular;
      text-transform: initial;
      padding: 0 0 0 14px;
      margin: -3px 0 0px 0;
    }
    :nth-child(3) {
      position: relative;
      top: -23px;
      left: 78%;
      font-size: 12px;
      padding: 8px 20px;
      background: #FCDB3D;
    }
    &--cv {
      width: 100%;;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      margin: 39px 0 0 0;
      height: 48px;
      border: 1px solid #dcdcdc;
    }
  }
  &__textarea {
    width: 98.4%;
    margin: 20px 0 30px 0;
    resize: none;
    float: right;
    border: 1px solid #dcdcdc;
  }
}

.form-block {
  width: 47.3%;
  border: none;
  padding: 0;
  margin: 0;
  @include breakpoint(320px 1000px) {
    width: 95%;
    padding: 0 20px 0 20px;
  }
  @include breakpoint(320px 576px) {
    padding: 5%;
  }
  &__description {
    font: 12px work_sanslight;
    color: #979797;
    margin: 19px 0 0 0;
    @include breakpoint(320px 576px) {
      text-align: center;
    }
  }
  &--left {
    float: left;
  }

  &--right {
    float: right;
    @include breakpoint(320px 1000px) {
      float: left;
    }
  }

  &--graduated {
    margin: 31px 0 0 -2px;
    width: 27%;
    @include breakpoint(320px 1000px) {
      margin: 0 auto 0 auto;
      width: 50%;
    }
    h3 {
      margin: 0;
      display: block;
      font: 15px lucida_granderegular;
      a {
        padding: 0 0 3px 0;
        font: 16px work_sansregular;
        border-bottom: 1px solid #fedd23;
        text-decoration: none;
      }
    }
  }

  &--checkboxes {
    width: 100%;
    @include breakpoint(577px 1000px) {
      width: 95%;
    }
    @include breakpoint(320px 576px) {
      margin: 0 auto;
      padding: 0;
    }
  }
}

.list-radio {
  @include clearfix;
  float: left;
  width: 65%;
  &__item {
    display: block;
    width: 23%;
    text-align: right;
    &:nth-child(odd) {
      float: left;
    }
    &:nth-child(even) {
      float: right;
    }
  }
  &__answer {
    display: none;
    &:not(checked) + label:before {
      background-position: -62px -10px;
    }
    &:checked + label:before {
      background-position: -9px -10px;
    }
  }
  &__point {
    position: relative;
    top: -32px;
    font: 13px work_sansmedium;
    text-transform: uppercase;
    cursor: pointer;

    &:before {
      position: relative;
      top: 33px;
      left: -40px;
      content: '';
      display: inline-block;
      height: 38px;
      width: 38px;
      background: url(../images/options.png) no-repeat;
    }
  }
}

.checkboxes-list {
  @include clearfix;
  @include breakpoint(320px 576px) {
    text-align: center;
    margin: 70px 0 0 0;
  }
  list-style: none;
  padding: 0;
  margin: 38px 0 0 0;

  &__item {
    padding: 0 0 28px 0;
    @include breakpoint(320px 576px) {
      margin: 20px 0 10px 0;
    }
    &:nth-child(odd) {
      @include breakpoint(320px 576px) {
        width: 100%;
      }
      width: 50%;
      float: left;
    }
    &:nth-child(even) {
      @include breakpoint(320px 576px) {
        width: 100%;
      }
      width: 47.5%;
      float: right;
      text-align: center;
    }
  }
}

.checkbox {
  display: none;
  box-sizing: border-box;
  &:not(checked) + label:before {
    background-position: -10px -9px;
  }
  &:checked + label:before {
    background-position: -69px -9px;
  }
  + label:before {
    position: relative;
    left: -27px;
    top: 16px;
    content: '';
    height: 40px;
    width: 40px;
    display: inline-block;
    background: url(../images/checkboxes.png) no-repeat;
    float: left;
    @include breakpoint(320px 576px) {
      position: absolute;
      left: 46%;
      top: -44px;
    }
    @include breakpoint(577px 820px) {
      left: -7%;
      top: -2px;
      position: relative;
      float: left;
    }
  }
  &__option {
    position: relative;
    top: -15px;
    left: 25px;
    font: 16px work_sansregular;
    cursor: pointer;
    @include breakpoint(320px 820px) {
      display: block;
      width: 95%;
      min-width: 140px;
    }
    &:hover {
      font-weight: bold;
    }
  }
}

.form-button {
  @include breakpoint(320px 576px) {
    margin-top: 20px;
  }
  display: block;
  width: 276px;
  height: 76px;
  margin: 72px auto 0 auto;
  padding: 6px 0 0 0;
  font: 13px work_sansbold;
  background: #ffffff;
  box-shadow: 0 2px 30px 0 rgba(216, 216, 216, 0.5);
  border: none;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  cursor: pointer;
  &:before {
    position: relative;
    content: '';
    top: -2px;
    left: -46px;
    width: 48px;
    height: 2px;
    background: $black;
    display: inline-block;
  }
}

.section {
  &__main {
    max-width: 1200px;
    width: 100%;
    padding: 0 0 205px 0;
    @include breakpoint(577px 1000px) {
      width: 95%;
      margin: 0 auto;
    }
    @include breakpoint(320px 576px) {
      width: 95%;
      padding-bottom: 20px;
    }
  }
}

.footer {
  max-width: 1200px;
  width: 100%;
  background-color: black;
  padding: 19% 0 21.7% 0;
  background-image: url(../images/world-bg.png);
  background-size: 90%;
  background-position: center 66%;
  background-repeat: no-repeat;
  &__content {
    margin: -1px auto 0 auto;
    text-align: center;
    color: white;
    font: 38px avalonbold;
    line-height: 1.35;
    letter-spacing: normal;
    width: 60%;
    @include breakpoint(320px 576px) {
      font-size: 19px;
    }
  }
}
