@import "../styles/fonts";
$black:   #191919;
$sun-yellow: #fedd23;

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 245px;
  height: 95px;
  margin: 52px auto 0 auto;

  .logo_img {
    width: 100%;
    height: auto;
  }
}

.main-title {
  margin: 61px auto 0 auto;
  font-family: 'avalonbold';
  font-size: 59px;
  text-align: center;
  color: #191919;
  letter-spacing: 0.8px;
  span {
    color: $sun-yellow;
  }
}

.subtitle {
  color: #191919;
  font-family: "work_sansregular";
  font-size: 24px;
  text-align: center;
  width: 770px;
  margin: 40px auto 0 auto;
  line-height: 43px;
}
