@import "../styles/fonts";
$black:   #191919;
$sun-yellow: #fedd23;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.clear {
  height:0px !important;
  clear:both;
  margin:0 !important;
  padding:0 !important;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 245px;
  height: 95px;
  margin: 52px auto 0 auto;

  &_img {
    width: 100%;
    height: auto;
  }
}

.main-title {
  margin: 61px auto 0 auto;
  font: 59px 'avalonbold';
  text-align: center;
  color: #191919;
  letter-spacing: 0.8px;
  span {
    color: $sun-yellow;
  }
}

.subtitle {
  color: #191919;
  font: 24px "work_sansregular";
  text-align: center;
  width: 770px;
  margin: 40px auto 0 auto;
  line-height: 43px;
}

.form {
  @include clearfix;
  margin: 140px auto 0 auto;
  padding-top: 75px;
  max-width: 947px;
}

.form {
  &__input {
    width: 99%;
    height: 45px;
    margin: 22px 0 30px 0;
    border: 1px solid #dcdcdc;

    &--cv {
      top: -46px;
      left: 350px;
      width: 48px;
      height: 8px;
      opacity: 0;
      overflow: hidden;
      position: relative;
      z-index: -1;
      max-width: 80%;
      font-size: 1.25rem;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      padding: 0.625rem 1.25rem;
      margin: 0;
    }
  }
  &__label {
    width: 100%;
    font: 14px 'work_sansmedium';
    color: #4e4e4e;
    text-transform: uppercase;
    display: inline-block;
      :first-child {
        position: relative;
        top: -42px;
      }
      :nth-child(2) {

        display: block;
        width: 19%;
        height: 47%;
        font: 14px work_sansregular;
        text-transform: initial;
        padding: 0 0 0 14px;
        margin: -3px 0 0px 0;
      }
      :nth-child(3) {
        position: relative;
        top: -23px;
        left: 78%;
        font-size: 12px;
        padding: 8px 20px;
        background: #FCDB3D;
      }
    &--cv {
      width: 100%;;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      margin: 39px 0 0 0;
      height: 48px;
      border: 1px solid #dcdcdc;
    }
  }
  &__textarea {
    width: 98.4%;
    margin: 20px 0 30px 0;
    resize: none;
    float: right;
    border: 1px solid #dcdcdc;
  }
}

.form-block {
  width: 47.3%;
  border: none;
  padding: 0;
  margin: 0;

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }

  &--graduated {
    margin: 31px 0 0 -2px;
    width: 27%;
    h3 {
      margin: 0;
      display: block;
      font: 15px "lucida_granderegular";
      a {
        padding: 0 0 3px 0;
        font: 16px "work_sansregular";
        border-bottom: 1px solid #fedd23;
        text-decoration: none;
      }
    }
  }
}

.list-radio {
  @include clearfix;
  float: left;
  width: 65%;
  &__item {
    display: block;
    width: 23%;
    text-align: right;
    &:nth-child(odd) {
      float: left;
    }
    &:nth-child(even) {
      float: right;
    }
  }
  &__answer {
    display: none;
    &:not(checked) + label:before {
      background-position: -62px -10px;
    }
    &:checked + label:before {
      background-position: -9px -10px;
    }
  }
  &__point {
    position: relative;
    top: -32px;
    font: 13px work_sansmedium;
    text-transform: uppercase;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      height: 36px;
      width: 36px;
      background: url(../images/options.png) no-repeat;
      position: relative;
      top: 33px;
      left: -40px;
    }
  }
}
